@font-face {
    font-family: "Vazir";
    src: url("fonts/Vazir.eot");
    src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("fonts/Vazir.woff2") format("woff2"),
        url("fonts/Vazir.woff") format("woff"),
        url("fonts/Vazir.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: "Vazir" !important;
    height: 500vh;
}



/* header */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 99999;
    
}

.container {
    width: 1200px;
}


header nav {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header nav a {
    cursor: pointer;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 50px;
}

header nav ul li {
    display: flex;
    width: 40%;
    justify-content: flex-start;
    align-items: center;

}


header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;

}


header nav ul li a:hover {
    background-color: var(--color-primary, #fe4a1b);
}


#open-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 30px;
    display: none;
    /* transform: translateY(-50px); */
}

#close-sidebar {
    display: none;
}

/* header-black-background */

.header-black-background {
    display: none;
}


/* slider */


.slider {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.under-slider {
    margin: -80px auto 0;
    white-space: nowrap;
    z-index: 1;

}

.slideshow-container {
    width: auto;
    height: auto;
    position: relative;
}

.dot {
    position: relative;
    cursor: pointer;
    height: 139px;
    width: 210px;
    margin: 0 15px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    transition: all 0.2s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 23;
}

.dot:hover {
    background-color: #717171;
    transform: translateY(-20px);
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 20;
    border-radius: 10px;
}

.next {
    left: 10px;
}

.prev {
    right: 10px;
}



.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}



/* intro-text */


.intro-text {
    margin: 5rem 0;
    width: 100%;
    height: 100%;
}

.intro-text-content {
    padding: 20px;
    box-sizing: border-box;
    margin: 0 7rem;
    text-align: center;
}

.intro-text-content p {
    font-size: 20px;
}





/* new-product */

.product {
    width: 100%;
    height: 100%;
    text-align: center;
}

.product-title {
    margin-bottom: -35px;
}

.product-title h3 {
    font-size: 22px;
    font-weight: bolder;
    padding: 10px;
    background-color: #000;
    color: #fff;
    width: 150px;
    margin: auto;
    border-radius: 10px;
}

.product-content {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 23px;
    flex-wrap: wrap;
}


.product-box {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    margin-top: 5rem;
}

.product-text {
    width: 100%;
    position: absolute;
}


.product-box:hover {
    transform: scale(1.05);
}

.product-box:hover span {
    color: red;

}

.product-box h2 {
    font-weight: 500;
}

.product-box span {
    /* padding-top: 50px; */
    transition: all 0.25s ease-in-out;
}



/* accessories */


#accessories {
    max-width: 1500px;
    display: flex;
    margin: 10rem auto;
}




/* change-page */


.change-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.change-page-content {
    width: 1200px;
    background-color: rgb(237, 238, 244);
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* page-changer */


.change-page-content .page-changer {
    background-color: rgb(254, 74, 27);
    border-radius: 5px;
    width: 200px;
    height: 45px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    cursor: pointer;
}


.change-page-content .page-changer p {
    color: #fff;
    position: absolute;
    left: 50px;
    transition: all 0.3s ease-in-out;
}

.change-page-content .next-page p::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    color: #fff;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    left: 90px;
    top: 5px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
}

.change-page-content .next-page:hover p {
    left: 40px;
}

.change-page-content .next-page:hover p::after {
    left: 110px;
}


/* current-page */

.current-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-page input {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 0.9rem;
    margin: 0 15px;
}

.current-page span {
    margin-right: 5px;
}



/* previous-page */

.change-page-content .previous-page {
    margin-left: 15px;
}

.change-page-content .previous-page p {
    right: 50px;
}

.change-page-content .previous-page p::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    color: #fff;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    right: 90px;
    top: 5px;
    transform: rotate(135deg);
    transition: all 0.3s ease-in-out;
}

.change-page-content .previous-page:hover p {
    right: 40px;
}

.change-page-content .previous-page:hover p::before {
    right: 110px;
}

.next-page-arrow{
    display: none;
}

.previous-page-arrow{
    display: none;
}



@media screen and (max-width:1200px) {

    /* header */

    #nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 350px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(0.6rem);
        z-index: 3;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
        overflow: auto;
    }

    #nav::-webkit-scrollbar {
        display: none;
    }

    #nav.active {
        transform: translateX(0);
    }

    header nav a img {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: -150px;
    }

    header nav ul li {
        margin-top: 2rem;
    }

    #open-sidebar {
        display: block;
        cursor: pointer;
        color: #fff;
    }

    #close-sidebar {
        position: absolute;
        top: 39px;
        left: 60px;
        z-index: 40;
        display: block;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }

    #close-sidebar:hover {
        opacity: 0.6;
        transition: all 0.3s;
    }


    /* header-black-background */

    .header-black-background {
        width: 100%;
        height: 50px;
        background-color: #000;
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-black-background a {
        width: 100px;
        margin-right: 50%;
        transform: translateX(50%);
        margin-top: 10px;
    }

    .header-black-background a img {
        width: 100px;
    }

    .black-background-icons {
        display: flex;
        align-items: center;
        margin-left: 10px;
        align-items: center;
    }

    .basket-shopping {
        color: #fff;
        margin-right: 20px;
        cursor: pointer;
        font-size: 20px;
    }

    .search-icon {
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        margin-top: 2px;
    }


    /* slider */

    .under-slider {
        display: none;
    }


    /* .under-slider {
        white-space: normal;
    }


    .under-slider {
        display: inline-table;
        white-space: normal;
    }

    .under-slider {
        margin: auto;
    } */


    /* intro-text */


    .intro-text {
        margin: 0;
        width: 100%;
        height: auto;
    }



    /*product */

    .product-img {
        height: 250px !important;
        width: 250px !important;
    }

    .product-content {
        justify-content: space-evenly;
    }





    /* change-page */

    .change-page-content {
        width: 1000px;
    }


    /* page-changer */


    .change-page-content .page-changer {
        width: 150px;
    }


    /* next-page */

    .change-page-content .next-page p {
        left: 25px;
    }

    .change-page-content .next-page:hover p {
        left: 15px;
    }

    .change-page-content .next-page p::after {
        left: 90px;
    }


    .change-page-content .next-page:hover p::after {
        left: 105px;
    }


    /* current-page */

    .current-page input {
        width: 150px;
    }



    /* previous-page */

    .change-page-content .previous-page {
        margin-left: 15px;
    }

    .change-page-content .previous-page p {
        right: 25px;
    }


    .change-page-content .previous-page:hover p {
        right: 15px;
    }

    .change-page-content .previous-page:hover p::before {
        right: 105px;
    }


}


@media screen and (max-width:768px) {
    /* change-page */

    .change-page-content {
        width: 568px;
    }


    /* page-changer */


    .change-page-content .page-changer {
        width: 100px;
    }


    /* next-page */

    .change-page-content .next-page p {
        left: 10px;
    }

    .change-page-content .next-page:hover p {
        left: 10px;
    }

    .change-page-content .next-page p::after {
        display: none;
    }


    /* current-page */

    .current-page input {
        width: 100px;
    }



    /* previous-page */

    .change-page-content .previous-page {
        margin-left: 15px;
    }

    .change-page-content .previous-page p {
        left: 1px;
    }


    .change-page-content .previous-page p {
        right: 15px;
    }

    .change-page-content .previous-page p::before {
        display: none;
    }


}







@media screen and (max-width:576px) {

    #nav {
        width: 256px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(0.6rem);
        overflow: auto;
    }

    header nav ul {
        right: -135px;
    }


    header nav ul li {
        margin-top: 10px;
    }




    /* slider */

    .slider {
        width: 100%;
        height: 100%;
        z-index: 1;
    }


    .dot {
        width: 105px;
        height: 69.5px;
    }


    /* intro-text */


    .intro-text {
        margin: 1rem 0;
    }

    .intro-text .intro-text-content {
        width: 100%;
        height: auto;
        margin: auto;
        text-align: center;
    }

    .intro-text-content p {
        font-size: 15px;
    }


    /* product */

    .product-img {
        height: 180px !important;
        width: 180px !important;
    }


    .product-content {
        grid-gap: 20px;
    }


    /* change-page */

    .change-page-content {
        width: 390px;
    }


    /* page-changer */


    .change-page-content .page-changer {
        width: 50px;
    }


    /* next-page */

    .change-page-content .next-page p {
        display: none;
    }



    /* current-page */

    .current-page input {
        width: 75px;
    }



    /* previous-page */

    .change-page-content .previous-page p {
        display: none;
    }




    .next-page-arrow{
        display: block;
        position: absolute;
        left: 17px;
        color: #fff;
    }
    
    .previous-page-arrow{
        display: block;
        position: absolute;
        left: 17px;
        color: #fff;
    }




}