@font-face {
    font-family: "Vazir";
    src: url("fonts/Vazir.eot");
    src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("fonts/Vazir.woff2") format("woff2"),
        url("fonts/Vazir.woff") format("woff"),
        url("fonts/Vazir.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Vazir" !important;
    height: 500vh;
}



/* header */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 99999;
}

.container {
    width: 1200px;
}


header nav {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header nav a {
    cursor: pointer;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 50px;
}

header nav ul li {
    display: flex;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
    
}


header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    
}


header nav ul li a:hover {
    background-color: var(--color-primary, #fe4a1b);
}


#open-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 30px;
    display: none;
}

#close-sidebar {
    display: none;
}



/* slider */


.slider {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.under-slider {
    margin: -80px auto 0;
    white-space: nowrap;
    z-index: 1;

}

.slideshow-container {
    width: auto;
    height: auto;
    position: relative;
}

.dot {
    position: relative;
    cursor: pointer;
    height: 139px;
    width: 210px;
    margin: 0 15px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    transition: all 0.2s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 23;
}

.dot:hover {
    background-color: #717171;
    transform: translateY(-20px);
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 20;
}

.next {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}



/* intro-text */


.intro-text {
    margin: 5rem 0;
    width: 100%;
    height: 100%;
}

.intro-text-content {
    padding: 20px;
    box-sizing: border-box;
    margin: 0 7rem;
    text-align: center;
}

.intro-text-content p {
    font-size: 20px;
}





/* new-product */

.new-product {
    width: 100%;
    height: 100%;
    text-align: center;
}

.new-product-title {
    margin-bottom: 50px;
}

.new-product-title h3 {
    font-size: 22px;
    font-weight: bolder;
}

.new-product-content {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 23px;
    flex-wrap: wrap;
}


.product-box {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.product-box:hover {
    transform: scale(1.05);
}

.product-box:hover span {
    color: red;

}

.product-box h2 {
    font-weight: 500;
}

.product-box span {
    padding-top: 50px;
    transition: all 0.25s ease-in-out;
}













@media screen and (max-width:1200px) {

    /* header */

    #nav {
        position: fixed;
        width: 350px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(0.6rem);
        z-index: 3;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
        overflow: auto;
    }

    #nav::-webkit-scrollbar {
        display: none;
    }

    #nav.active {
        transform: translateX(0);
    }

    header nav a img {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: -150px;
    }

    header nav ul li {
        margin-top: 2rem;
    }

    #open-sidebar {
        display: block;
        cursor: pointer;
    }

    #close-sidebar {
        position: absolute;
        top: 39px;
        left: 60px;
        z-index: 40;
        display: block;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }

    #close-sidebar:hover {
        opacity: 0.6;
        transition: all 0.3s;
    }



    /* slider */

    .under-slider {
        white-space: normal;
    }


    .under-slider {
        display: inline-table;
        white-space: normal;
    }

    .under-slider {
        margin: auto;
    }


    /* intro-text */


    .intro-text {
        margin: 0;
        width: 100%;
        height: auto;
    }



    /* new-product */


    .new-product-content {
        justify-content: space-evenly;
    }



}




@media screen and (max-width:576px) {

    #nav {
        width: 256px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(0.6rem);
        overflow: auto;
    }

    header nav ul {
        right: -135px;
    }


    header nav ul li {
        margin-top: 10px;
    }




    /* slider */

    .slider {
        width: 100%;
        height: 100%;
        z-index: 1;
    }


    .dot {
        width: 105px;
        height: 69.5px;
    }


    /* intro-text */


    .intro-text {
        margin: 1rem 0;
    }

    .intro-text .intro-text-content {
        width: 300px;
        height: auto;
        margin: auto;
        text-align: center;
    }

    .intro-text-content p {
        font-size: 15px;
    }
}

